* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Oval', cursive
}

.bg-lila1 {
    background-color: rgba(103, 103, 219, 0.863);
}

.text-verde {
    color: rgb(9, 78, 50);
}

ul {
    list-style: none;
}

.healthy {
    font-size: 2rem;
}

header nav {
    width: 70%;
}

a {
    text-decoration: none;
    color: rgb(9, 78, 50);
}

.portada {
    background-image:url(../img/lunch-a-izquierda.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hl {
    font-size: 4vw;
}

.hlp {
    font-size: 3vw;
    background-color:rgba(237, 234, 240, 0.616);
    border-radius: 5px;
    padding: 7px;
}

.productos-tit {
    text-align: center;
    text-decoration: underline;
    background-color: rgb(152, 75, 224);
    font-size: 3rem;
}

.tarjeta {
    background-color: rgb(152, 75, 224);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.productos-combos {
    background-color: rgba(237, 234, 240, 0.616);
    margin: 6px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(99, 97, 97);
    width: 190px;
    height: 350px;
    border-radius: 10px;
    padding: 20 px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.tarjeta_tit {
    margin-top: 7px;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgba(237, 234, 240, 0.616);
    border-radius: 5px;
}

img {
    width: 140px;
}

.btn {
    margin-bottom: 7px;
    border: 2px;
    border-color: rgb(130, 51, 204);
    background-color: rgb(130, 51, 204);
    color: rgb(237, 234, 240);
    border-radius: 8px;
    padding: 10px;

}

.btn:hover {
    border: 3px rgb(130, 51, 204);
    background-color: rgb(237, 234, 240);
    color: rgb(130, 51, 204);
}



/* pagina contacto */
.contacto {
    background-image: url(../img/lunch-escuela.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#titulo-contacto {
    text-align: center;
    font-size: 3rem;
}

/* zona y dia de entrega */
.entregas {
    background-color: rgba(130, 51, 204, 0.397);
    text-align: center;
    font-size: 2rem;
}

video {
    height: 40vh;
}

iframe {
    height: 40vh;
}

/* preguntas-frecuentes */
.faq {
    background-image: url(../img/faq.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.preguntas-frecuentes {
    font-size: 3rem;
    text-decoration: underline;
}

.lista-preguntas {
    background-color: rgba(237, 234, 240, 0.171);
    text-align: justify;

}

.pregunta {
    font-weight: bold;
    font-size: 150%;
}

.respuesta {
    font-weight: bold;
}

/* combos y valoraciones */

.maincombos {
    background-color: rgba(130, 51, 204, 0.397);

}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: baseline;

}

.galeria {
    background-color: rgb(152, 75, 224);

}

.clientesdicen {
    text-align: center;
    background-color: rgb(152, 75, 224);
    font-size: 3rem;
}

.productos-fotos {
    background-color: rgba(237, 234, 240, 0.616);
    border: 1px solid rgb(65, 63, 63);
    width: 190px;
    height: 600px;
    border-radius: 10px;
    padding: 20 px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px 5px 0px 05px;

}

.fotoproducto {
    width: 150px;
    height: 150px;
}

/* footer */

footer {
    background-color: rgb(103, 103, 219);
    color: rgb(9, 78, 50);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconotel {
    width: 30px;
}

.iconoface {
    width: 30px;
}

.iconoinsta {
    width: 30px;
}

.iconotwitter {
    width: 30px;
}