.imgc {
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.imgc2{
    width: 230px;
    height: 190px;
    object-fit: cover;
}

.b-g {
    border: solid rgb(99, 97, 97)
}

.c-blanco {
    color: antiquewhite;
}

.c-negro {
    color: black;
}