.btn-contacto{
    margin: 4px;
    padding: 4px;
    border-radius: 7px;
    background-color: rgb(152, 75, 224);
    font-weight: 200;
    border: 4px;
    border-color: rgba(237, 234, 240, 0.233);
  
}
.btn-contacto:hover{
background-color:  rgba(237, 234, 240, 0);
}
